### Import library

In [1]:
import pandas as pd

### Load data

In [2]:
data = pd.read_csv('postalcode_canada.csv')
data.head()

  Postcode       Borough   Neighbourhood
0      M1A  Not assigned    Not assigned
1      M1B   Scarborough           Rouge
2      M1B   Scarborough         Malvern
3      M1C   Scarborough  Highland Creek
4      M1C   Scarborough      Rouge Hill

### Find the number of rows and colums

In [3]:
data.shape

(287, 3)

### Removing cells with non-assigned borough

In [4]:
nonassigned = data[data['Borough']=='Not assigned'].index
data.drop(nonassigned, inplace=True)
data.head()

  Postcode      Borough   Neighbourhood
1      M1B  Scarborough           Rouge
2      M1B  Scarborough         Malvern
3      M1C  Scarborough  Highland Creek
4      M1C  Scarborough      Rouge Hill
5      M1C  Scarborough      Port Union

In [5]:
data.shape

(210, 3)

### Merging of rows in which the postal code are similar but with different neighborhood

In [6]:
df_code = data['Postcode'].unique()
data.set_index('Postcode', drop=False, inplace=True)

separator=', '
for postcode in df_code:
    df_tmp = data.loc[postcode]
    if(df_tmp.size > 3):
        neighbourhood = separator.join(df_tmp['Neighbourhood'])
        data.loc[postcode, 'Neighbourhood'] = neighbourhood

data.drop(data[data.Neighbourhood == 'Not assigned'].index, inplace=True)
data.drop_duplicates('Postcode', inplace=True)
data.reset_index(drop = True, inplace=True)
data.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [7]:
data.shape

(103, 3)